<!DOCTYPE html>
<html>
  <head>
    <title>filling layout</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'
                                               %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
  <%= render 'layouts/header' %>

  

    <div class="container" style="margin-top:50px">
    <div class="flash"><%=  flash[:notice] %></div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>